{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":640,"scrollleft":0,"selection":{"start":{"row":63,"column":13},"end":{"row":63,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":41,"state":"start","mode":"ace/mode/ini"}},"timestamp":1536796016727,"hash":"a39eb888fc31c361125f93ef5880715ec2dc2a23"}