{"filter":false,"title":".gitignore","tooltip":"/backend/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":535,"scrollleft":0,"selection":{"start":{"row":64,"column":8},"end":{"row":64,"column":8},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":34,"state":"start","mode":"ace/mode/ini"}},"timestamp":1536726168237,"hash":"fdd116a585401bf7643c2a9a3f78d78fa5e9842b"}